html
  head
    meta(charset="UTF-8")
  - var page_title = "Simple Data Editor Demo"
    title= page_title
    include head
  body
    .container.col-md-8.col-md-offset-2.text-center
      block body
      block foot